/* Griglia */

.cell {
	font-size: calc(1vw + 6px);
	color: #333;
	display: grid;
	grid-template-columns: repeat(9, 3vw);
	grid-template-rows: repeat(9, 3vw);
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}


.cell3x3 {
	font-size: calc( 100% / 3);
}



div.selectedCell {
	background: chartreuse;
}

div.cellaFissa {
	font-weight: bold;
	background: aliceblue;
}
div.cellaPiena {
	background: aliceblue;
}

div.selectedDigit {
	background: chartreuse;
}


div.mistakenCell {
	background: lightcoral;
}

